head
  title='Ops Mapper'
  base(href='/')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, minimum-scale=1.0, shrink-to-fit=no')
  meta(name='mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='#ededed')
  meta(name='theme-color' content='#ededed')
  link(rel="stylesheet" type="text/css" href="./css/main.css")
  link(link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Share+Tech+Mono&display=swap" rel="stylesheet")
  script(src="./js/main.js")
